[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User={{ redmine_user }}
WorkingDirectory={{ redmine_dir }}
ExecStart={{ rbenv_dir }}/shims/bundle exec puma -C {{ config_dir }}/puma.rb
Restart=always

[Install]
WantedBy=multi-user.target

