workers 2

threads 1, 6

rails_env = ENV['RAILS_ENV'] || "production"
environment rails_env

bind "unix://{{ shared_dir }}/sockets/puma.sock"

pidfile "{{ pids_dir }}/puma.pid"
state_path "{{ pids_dir }}/puma.state"
activate_control_app

on_worker_boot do
  require "active_record"
  ActiveRecord::Base.connection.disconnect! rescue ActiveRecord::ConnectionNotEstablished
  ActiveRecord::Base.establish_connection(YAML.load_file("{{ config_dir }}/database.yml")[rails_env])
end

